doctype html
html(ng-app="poly-pen")
  head
    include partials/header
  body
    .container

      - formName = 'ComponentsForm'
      form(name=formName, ng-cloak="true")
        .row
          .col-md-12
            .col-md-6
              .well
                pen(ng-model=formName+'.test2' ng-required="true" use-edit-button is-editable)
                  include partials/pen-html
            .col-md-6
              .well
                pen(ng-model=formName+'.test2' ng-required="true" placeholder="test" is-editable)
                  include partials/pen-html

    include partials/footer
